* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* animação starts */
.draw-content {
  height: 320px;
  width: 320px;
  border: 3px solid #000000;
}

/* animação colorida starts*/
.plant {
  width: 70px;
  position: absolute;
  bottom: 27%;
  left: 2rem;
  border-left: 13px solid transparent;
  border-right: 13px solid transparent;
  border-top: 45px solid #66bb92;
}

.plant::before {
  width: 72px;
  position: absolute;
  top: 0;
  content: "";
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 10px solid #4dcf93;
  top: -3rem;
  left: -1.1rem;
}
/* animação colorida ends*/

/* animação outline starts */

.top-bottom {
  position: absolute;
  width: 80px;
  top: -3rem;
  left: -1.1rem;
  border: 1.5px solid #000000;
}

.top-bottom::before {
  position: absolute;
  content: "";
  width: 72px;
  top: 0.5rem;
  left: 0.1rem;
  border: 1.5px solid #000000;
}

.left-right {
  position: absolute;
  width: 40px;
  top: -1.2rem;
  left: -1.5rem;
  border: 1.5px solid #000000;
  transform: rotate(75deg);
}

.left-right::before {
  position: absolute;
  content: "";
  width: 38px;
  bottom: 3.1rem;
  right: -0.95rem;
  border: 1.5px solid #000000;
  transform: rotate(31deg);
}

.left-right-up {
  position: absolute;
  width: 10px;
  top: -2.69rem;
  left: -1.28rem;
  border: 1.5px solid #000000;
  transform: rotate(75deg);
}

.left-right-up::before {
  position: absolute;
  content: "";
  width: 8px;
  bottom: 4.5rem;
  left: 1.1rem;
  border: 1.5px solid #000000;
  transform: rotate(33deg);
}

.leaf {
  position: absolute;
  top: -7.3rem;
  right: -1rem;
  height: 25px;
  width: 25px;
  border: 2.5px solid #000000;
  border-radius: 15px 0;
}

.leaf::before {
  position: absolute;
  content: "";
  top: 1.8rem;
  left: -2.6rem;
  height: 20px;
  width: 20px;
  border: 2.5px solid #000000;
  border-radius: 15px 0;
  transform: rotate(60deg);
}

.stalk {
  position: absolute;
  top: -4.76rem;
  width: 60px;
  height: 15px;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/10px 10px 0 0;
  transform: rotate(290deg);
}

/* .flower-stalk {
  position: absolute;
  top: -6.5rem;
  right: -0.4rem;
  width: 50px;
  height: 15px;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/10px 10px 0 0;
  transform: rotate(260deg);
}

.flower {
  position: absolute;
  top: -8.7rem;
  left: 0.5rem;
  height: 25px;
  width: 25px;
  border: 2.5px solid #000000;
  background-color: rgba(0, 60, 255, 0.74);
  border-radius: 2px 2px 20px 20px;
} */

.human {
  position: absolute;
  bottom: 7.2rem;
  right: 2rem;
}

.head {
  position: absolute;
  bottom: 1.5rem;
  right: 0rem;
  height: 130px;
  width: 150px;
  border: 3px solid #000000;
  background-color: #ffff;
  border-radius: 100px 100px 80px 80px;
  transform: rotate(-10deg);
}

.head::before {
  position: absolute;
  content: "";
  bottom: -0.3rem;
  right: 2rem;
  height: 20px;
  width: 96px;
  background-color: #ffffff;
  transform: rotate(5deg);
}

.body {
  position: absolute;
  top: -2.4rem;
  right: 5.5rem;
  width: 60px;
  height: 15px;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 60%/20px 20px 0 0;
  transform: rotate(290deg);
}

.body::before {
  position: absolute;
  content: "";
  top: 5.6rem;
  right: -1.8rem;
  width: 60px;
  height: 15px;
  border: solid 3px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 60%/20px 20px 0 0;
  transform: rotate(130deg);
}

.arms {
  position: absolute;
  bottom: 1rem;
  right: 4.5rem;
  width: 50px;
  height: 15px;
  border: solid 2.8px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/10px 10px 0 0;
  transform: rotate(10deg);
}

.arms::before {
  position: absolute;
  content: "";
  bottom: -0.3rem;
  right: -3.7rem;
  width: 75px;
  height: 15px;
  border: solid 2.8px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/17px 17px 0 0;
  transform: rotate(320deg);
}

.eyes {
  position: absolute;
  top: -5.5rem;
  right: 6.5rem;
  width: 13px;
  height: 13px;
  background-color: #000;
  border-radius: 20px;
  transform: rotate(20deg);
  animation: blink 2.5s infinite;
}

.eyes::before {
  position: absolute;
  content: "";
  top: -0.2rem;
  right: -2.2rem;
  width: 13px;
  height: 13px;
  background-color: #000;
  border-radius: 20px;
  transform: rotate(0deg);

  animation: blink 2.5s infinite;
}

@keyframes blink {
  30% {
    height: 5px;
  }
}
.mouth {
  position: absolute;
  content: "";
  bottom: 3rem;
  right: 5rem;
  width: 25px;
  height: 25px;
  border: solid 4px #000;
  border-color: #000 transparent transparent transparent;
  border-radius: 50%/10px 10px 0 0;
  transform: rotate(200deg);
}

.cheeks {
  position: absolute;
  bottom: 4rem;
  right: 7.5rem;
  transform: rotate(10deg);
  animation: shake 2s linear infinite;
}

.cheeks2 {
  position: absolute;
  bottom: 3.5rem;
  right: 3.5rem;
  transform: rotate(10deg);
  animation: shake 2s linear infinite;
}

@keyframes shake {
  0%,
  100% {
    transform: translate3d(-2px);
  }
  50% {
    transform: translate(-2px);
  }
}

.cheek-line {
  position: absolute;
  height: 10px;
  border: 0.6px solid #c43a3a;
}

.cheek-line::before {
  position: absolute;
  content: "";
  right: 0.12rem;
  top: 0rem;
  height: 9px;
  border: 0.6px solid #c43a3a;
}

.cheek-line::after {
  position: absolute;
  content: "";
  right: 0.28rem;
  top: -0.05rem;
  height: 9px;
  border: 0.6px solid #c43a3a;
}

.hearts {
  position: absolute;
  right: -2rem;
  top: 1.5rem;
  transform: rotate(10deg);
}

.heart:nth-child(1) {
  position: absolute;
  top: 8rem;
  right: 3rem;
  transform: rotate(20deg);
}

.heart:nth-child(2) {
  position: absolute;
  top: 8rem;
  right: 8rem;
  transform: rotate(-10deg);
}

.heart:nth-child(3) {
  position: absolute;
  top: 7rem;
  right: 5.5rem;
  transform: rotate(10deg);
}

.heart {
  color: #c43a3a;
  animation: levitation 2s linear infinite;
}

@keyframes levitation {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
}

/* animação outline ends */

/* animação ends  */

/* contador starts */

.countdown {
  width: 320px;
  margin-top: 30px;
  gap: 16px;
  display: flex;
  justify-content: center;
}

.days,
.hours,
.minutes,
.seconds {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.number-of {
  font-size: 60px;
}

.title-tag {
  font-size: 14px;
  text-transform: uppercase;
}

/* contador ends */
