@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.09rem;
  color: #ffffff;
}

body {
  overflow: hidden;
}

.countdown,
.congrats {
  font-family: "Righteous", cursive;
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background: rgb(2, 0, 36);
  background: linear-gradient(
    180deg,
    rgba(2, 0, 36, 1) 0%,
    rgb(7, 35, 53) 70%,
    rgb(10, 39, 54) 83%,
    rgb(14, 32, 44) 100%
  );
  overflow: hidden;
}

/* universe starts */

.star {
  width: 1rem;
  position: absolute;
}

.star path {
  fill: #d6c9c9;
}

.star-small {
  animation: blink 6s ease-in infinite;
}

.star-big {
  animation: blink 3s ease-in infinite;
}

@keyframes blink {
  0% {
    transform: scale(0.25);
  }
  50% {
    transform: scale(0.73);
  }
  100% {
    transform: scale(0.25);
  }
}

.star-small {
  width: 0.45rem;
}

.star-big {
  width: 0.6rem;
}

.star:nth-child(1) {
  top: 5%;
  left: 33%;
}

.star:nth-child(2) {
  top: 36%;
  left: 70%;
}

.star:nth-child(3) {
  top: 30%;
  left: 15%;
}

.star:nth-child(4) {
  top: 20%;
  right: 10%;
}

.star:nth-child(5) {
  top: 11%;
  right: 35%;
}

.star:nth-child(6) {
  bottom: 2%;
  left: 10%;
}

.star:nth-child(7) {
  top: 56%;
  right: 3%;
}

.star:nth-child(8) {
  bottom: 5%;
  left: 55%;
}

.star:nth-child(9) {
  bottom: 20%;
  left: 25%;
}

.star:nth-child(10) {
  bottom: -2%;
  right: 18%;
}

.star:nth-child(11) {
  top: 25%;
  left: 55%;
}

.star:nth-child(12) {
  top: 5%;
  right: 15%;
}

.star:nth-child(13) {
  top: 33%;
  left: 35%;
}

.star:nth-child(14) {
  top: 33%;
  left: 35%;
}

.star:nth-child(15) {
  top: 30%;
  right: 15%;
}

.star:nth-child(16) {
  bottom: 22%;
  right: 15%;
}

.star:nth-child(16) {
  bottom: 22%;
  right: 15%;
}

.star:nth-child(17) {
  bottom: 10%;
  right: 25%;
}

.star:nth-child(17) {
  bottom: -3%;
  left: 35%;
}

.star:nth-child(18) {
  bottom: 10%;
  right: 25%;
}

.star:nth-child(19) {
  bottom: 15%;
  left: 15%;
}

.star:nth-child(20) {
  bottom: 6%;
  left: 25%;
}

.star:nth-child(21) {
  bottom: 16%;
  right: 35%;
}

.star:nth-child(22) {
  bottom: 5%;
  right: 10%;
}

.star:nth-child(23) {
  bottom: 25%;
  left: 3%;
}

.star:nth-child(24) {
  bottom: 50%;
  left: 2%;
}

.star:nth-child(25) {
  bottom: 30%;
  right: 3%;
}

.star:nth-child(26) {
  top: 10%;
  left: 3%;
}

.star:nth-child(27) {
  bottom: 13%;
  left: 45%;
}

.star:nth-child(28) {
  top: 13%;
  left: 45%;
}

.star:nth-child(29) {
  top: 20%;
  right: 25%;
}

.star:nth-child(30) {
  top: 37%;
  left: 4%;
}

.star:nth-child(31) {
  top: 17%;
  left: 15%;
}

.star:nth-child(32) {
  top: 25%;
  left: 35%;
}

.star:nth-child(33) {
  top: 13%;
  left: 30%;
}

.star:nth-child(34) {
  top: 3%;
  left: 55%;
}

.star:nth-child(35) {
  top: 13%;
  right: 5%;
}

.star:nth-child(35) {
  top: 13%;
  right: 5%;
}

.star:nth-child(36) {
  top: 33%;
  right: 2%;
}

.star:nth-child(37) {
  top: 44%;
  right: 30%;
}

.star:nth-child(38) {
  top: 2%;
  left: 15%;
}

.star:nth-child(39) {
  top: 50%;
  left: 40%;
}

.star:nth-child(40) {
  bottom: 35%;
  left: 20%;
}

.star:nth-child(41) {
  bottom: 35%;
  right: 15%;
}

.star:nth-child(42) {
  bottom: 45%;
  right: 35%;
}

.star:nth-child(43) {
  bottom: 25%;
  right: 55%;
}

.star:nth-child(44) {
  bottom: 33%;
  right: 35%;
}

.star:nth-child(45) {
  top: 45%;
  right: 10%;
}

.star:nth-child(46) {
  top: 43%;
  left: 19%;
}

.star:nth-child(47) {
  top: 40%;
  left: 50%;
}

.star:nth-child(48) {
  bottom: 45%;
  left: 25%;
}

.star:nth-child(49) {
  bottom: 37%;
  left: 42%;
}

.star:nth-child(50) {
  bottom: 40%;
  left: 8%;
}

.effects {
  display: none;
}

.shooting-stars {
  display: none;
  transition: 2s all;
}

.shooting-stars span {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 0.3rem;
  width: 0.3rem;
  border-radius: 50%;
  background: #fff;
  box-shadow: 0 0 0 4px rgba(255, 255, 255, 0.1),
    0 0 0 8px rgba(255, 255, 255, 0.1), 0 0 0 2px rgba(255, 255, 255, 1);
  animation: shootingStars 3s linear infinite;
  animation-delay: 5s;
}

.shooting-stars span::before {
  position: absolute;
  content: "";
  top: 50%;
  transform: translateY(-50%);
  width: 300px;
  height: 1px;
  background: linear-gradient(90deg, #fff, transparent);
}

@keyframes shootingStars {
  0% {
    transform: rotate(315deg) translateX(0);
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    transform: rotate(315deg) translateX(-1000px);
    opacity: 0;
  }
}

.shooting-stars span:nth-child(1) {
  top: 0px;
  right: 0px;
  left: initial;
  animation-delay: 0;
  animation-duration: 1s;
}

.shooting-stars span:nth-child(2) {
  top: 0px;
  right: 80px;
  left: initial;
  animation-delay: 0.2s;
  animation-duration: 3s;
}

.shooting-stars span:nth-child(3) {
  top: 80px;
  right: 0px;
  left: initial;
  animation-delay: 0.4s;
  animation-duration: 2s;
}

.shooting-stars span:nth-child(4) {
  top: -10px;
  right: 180px;
  left: initial;
  animation-delay: 0.6s;
  animation-duration: 1.5s;
}

.shooting-stars span:nth-child(5) {
  top: -10px;
  right: 400px;
  left: initial;
  animation-delay: 0.8s;
  animation-duration: 2.5s;
}

.shooting-stars span:nth-child(6) {
  top: -10px;
  right: 600px;
  left: initial;
  animation-delay: 1s;
  animation-duration: 3s;
}

.shooting-stars span:nth-child(7) {
  top: 300px;
  right: -10px;
  left: initial;
  animation-delay: 1.2s;
  animation-duration: 1.73s;
}

.shooting-stars span:nth-child(8) {
  top: -10px;
  right: 700px;
  left: initial;
  animation-delay: 1.4s;
  animation-duration: 1.25s;
}

.moon {
  /* display: none; */
  width: 10rem;
  position: absolute;
  top: 5%;
  left: 15%;
  transition: 5s all;
}

.moon-transition {
  left: -160%;
  animation: outLeft 2s linear;
  transition: 10s all;
}

@keyframes outLeft {
  0% {
    transform: rotate(0deg) translateX(0);
    opacity: 1;
  }
  30% {
    opacity: 0;
  }
  100% {
    transform: rotate(-300deg) translateX(-1000px);
    opacity: 0;
  }
}

.moon img {
  width: 100%;
  animation: leftRight 8s linear infinite;
}

@keyframes leftRight {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* walking girl starts*/
.up-animation {
  position: absolute;
  left: 50%;
  bottom: 15%;
  transform: translate(-50%);
  animation: upAnimation 7s linear;
  animation-delay: -1.5s;
  z-index: 20;
}

@keyframes upAnimation {
  0% {
    bottom: -100%;
  }
  100% {
    bottom: 15%;
  }
}

.astronaut {
  position: absolute;
  height: 12rem;
  left: 50%;
  bottom: 20%;
  transform: translate(-50%);
  z-index: 10;
}

.body {
  width: 7rem;
  position: absolute;
  /* left: 50%; */
  transform: translate(-50%);
  bottom: 21%;
  z-index: 30;
  animation: upDownBody 3s infinite;
}

@keyframes upDownBody {
  0% {
    bottom: 23%;
  }
  50% {
    bottom: 21%;
  }
  100% {
    bottom: 23%;
  }
}

.arm {
  width: 1.8rem;
  position: absolute;
  z-index: 10;
  left: -15px;
  bottom: 62px;
  transform: rotate(30deg);
  z-index: 40;
  animation: walk 3s linear infinite;
}

.head {
  width: 10rem;
  position: absolute;
  z-index: 10;
  transform: translate(-57%);
  z-index: 50;
  animation: upDownHead 3s infinite;
  transition: 0.5s all;
}

.head-up {
  transform: translate(-57%) rotate(-20deg);
  transition: 0.5s all;
}

@keyframes upDownHead {
  0% {
    bottom: 47%;
  }
  50% {
    bottom: 44.5%;
  }
  100% {
    bottom: 47%;
  }
}

.left-leg {
  width: 2rem;
  position: absolute;
  left: -15px;
  bottom: 5px;
  transform-origin: top;
  transform: rotate(30deg);
  animation: walk 3s infinite;
}

.right-leg {
  width: 2rem;
  position: absolute;
  z-index: 15;
  bottom: 5px;
  transform-origin: top;
  transform: rotate(-30deg);
  animation: walkRight 3s infinite;
}

@keyframes walk {
  0% {
    transform: rotate(30deg);
  }
  50% {
    transform: rotate(-30deg);
  }
  100% {
    transform: rotate(30deg);
  }
}

@keyframes walkRight {
  0% {
    transform: rotate(-30deg);
  }

  50% {
    transform: rotate(30deg);
  }
  100% {
    transform: rotate(-30deg);
  }
}

.shadow-line {
  height: 1rem;
  width: 8rem;
  background: #7270702c;
  border-radius: 1rem;
  position: absolute;
  bottom: -1px;
  left: -50px;
}
/* walking girl ends*/

.balloons {
  position: absolute;
  bottom: 33rem;
  right: 9rem;
  transform: rotate(-15deg);
}

.balloons-up {
  animation: balloonsUp 4s linear forwards;
  animation-delay: 1.51s;
}

@keyframes balloonsUp {
  100% {
    transform: translateY(-1000px);
  }
}

.balloon .planet {
  height: 9rem;
  z-index: 5;
}

.balloon img {
  animation: leftRightBallon 4s infinite linear;
}

.balloons .earth {
  position: absolute;
  top: 0rem;
  left: 50%;
  transform: translate(-50%);
}

.balloons .jupiter {
  position: absolute;
  top: 3rem;
  right: 0rem;
}

.balloons .mars {
  position: absolute;
  top: 3rem;
  left: 0rem;
}

.balloons .venus {
  position: absolute;
  top: 7.5rem;
  left: -6.5rem;
}

.balloons .neptune {
  position: absolute;
  top: 8rem;
  right: -6rem;
}

.balloons .neptune img:nth-child(1) {
  height: 6.5rem;
}

.balloons .saturn img:nth-child(1) {
  height: 7rem;
}

.balloons .saturn {
  position: absolute;
  top: 5.5rem;
  left: 50%;
  transform: translate(-50%);
  z-index: 11;
}

/* linhas dos balões */

.balloon-lines {
  animation: ballonLine 4s linear infinite;
}

.balloon-line {
  position: absolute;
  height: 18rem;
}

.balloon-line:nth-child(1) {
  left: 50%;
  top: 8rem;
  z-index: 5;
}

.balloon-line:nth-child(2) {
  left: 2rem;
  top: 8rem;
  transform: rotate(15deg);
}

.balloon-line:nth-child(3) {
  left: 1rem;
  top: 8rem;
  transform: rotate(10deg);
}

.balloon-line:nth-child(4) {
  right: 0rem;
  top: 8rem;
  transform: rotate(-10deg);
}

.balloon-line:nth-child(5) {
  right: 1rem;
  top: 8rem;
  transform: rotate(-15deg);
}

@keyframes leftRightBallon {
  0% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-20deg);
  }
}

@keyframes ballonLine {
  0% {
    transform: rotate(-3deg);
  }
  50% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-3deg);
  }
}

/* lua maior */
.moon-floor {
  position: absolute;
  left: 50%;
  bottom: -31rem;
  transform: translate(-50%);
}

.moon-floor img {
  width: 40rem;
  animation: rotate 12s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}

.ovni-content {
  position: absolute;
  top: 5rem;
  right: -10rem;
  animation: inRight 2s linear;
  animation-delay: 5.5s;
  animation-fill-mode: forwards;
}

@keyframes inRight {
  0% {
    transform: rotate(0deg) translateX(-1000);
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  100% {
    transform: rotate(-5deg) translateX(-500px);
    opacity: 1;
  }
}

.ovni-effect {
  animation: especialEffect 3s linear !important;
  animation-delay: 0s;
}

@keyframes especialEffect {
  0% {
    transform: rotate(0deg) translateX(-470px) translateY(3rem);
    opacity: 1;
  }
  60% {
    transform: rotate(-13deg) translateX(-900px) translateY(4.5rem);
    opacity: 1;
  }
  100% {
    transform: rotate(2deg) translateX(-1500px);
    opacity: 1;
  }
}

.ovni {
  cursor: pointer;
  animation: upDownOvni 6s linear infinite;
}

.ovni img {
  height: 5rem;
  animation: leftRightBallon 3s linear infinite;
}

@keyframes upDownOvni {
  0% {
    top: 5rem;
  }
  50% {
    top: 6rem;
  }
  100% {
    top: 5rem;
  }
}

.arrow {
  position: absolute;
  top: 2.2rem;
  right: 20rem;
  opacity: 0;
  transform: rotate(190deg);
  animation: showArrow 2s linear;
  animation-delay: 7.6s;
  animation-fill-mode: forwards;
}

@keyframes showArrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.arrow iframe {
  border: none;
  height: 3rem;
}

.card {
  margin: 12rem;
  margin-top: 5rem;
  padding: 2rem;
  background: #26323898;
  border-radius: 0.5rem;
  z-index: 10;
  font-family: "Roboto Slab", serif;
  font-size: 0.8rem;
  display: none;
}

.card p:nth-child(5) {
  font-weight: 600;
}

/* universe ends */

/* countdown starts */
.countdown,
.congrats {
  width: 35rem;
  height: 15rem;
  background-color: #dbdbdb15;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1rem;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: 1s all;
}

.tag {
  font-size: 1.5rem;
  text-align: center;
  text-transform: uppercase;
}

.age {
  margin-top: 1.5rem;
}

.countdown-content {
  display: flex;
  gap: 0.5rem;
}

.day,
.hour,
.minute,
.second {
  background-color: #d6c9c9;
  width: 7rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3rem;
  color: #333;
  margin-top: 1.5rem;
}

.tag-countdown {
  margin-top: 0.7rem;
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
}
/* countdown ends */

/* congrats starts */
.congrats .tag {
  font-size: 2.35rem;
}

.congrats p {
  margin-top: 1rem;
  font-size: 0.8rem;
  color: #e9e7e7;
  text-align: center;
}

#button-container {
  margin-top: 1.5rem;
  display: flex;
  gap: 0.8rem;
}

.button {
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  box-shadow: 0px 4px 5px rgba(182, 167, 167, 0.158);
  cursor: pointer;
}

.button:nth-child(1) {
  background-color: #af342f;
}

.button:nth-child(2) {
  background-color: #f5da69;
}

.button:nth-child(3) {
  background-color: #4d5ba4;
}

.button:nth-child(4) {
  background-color: #7aaf53;
}
/* congrats ends */

.countdown,
.congrats {
  display: none;
}

@media screen and (max-width: 400px) {
  .moon {
    width: 8rem;
    top: 15%;
    left: 10%;
  }

  .moon-transition {
    left: -500%;
    animation: outLeft 8s linear;
    transition: 10s all;
  }

  @keyframes outLeft {
    0% {
      transform: rotate(0deg) translateX(0);
      opacity: 1;
    }
    40% {
      opacity: 0;
    }
    100% {
      transform: rotate(-300deg) translateX(-1000px);
      opacity: 0;
    }
  }

  .countdown,
  .congrats {
    width: 21rem;
    height: 17rem;
    transform: translate(-50%, -33%);
  }
  .day,
  .hour,
  .minute,
  .second {
    width: 4.5rem;
    font-size: 2.3rem;
  }

  .tag-countdown {
    font-size: 0.7rem;
  }

  .balloons {
    position: absolute;
    bottom: 33rem;
    right: 7rem;
    transform: rotate(-10deg);
  }

  .balloons-up {
    animation: balloonsUp 3s linear forwards;
    animation-delay: 2s;
  }

  .ovni-content {
    top: 4rem;
    animation: inRight 2s linear;
    animation-delay: 5.5s;
    animation-fill-mode: forwards;
  }

  @keyframes inRight {
    0% {
      transform: rotate(0deg) translateX(-1000);
      opacity: 0;
    }
    30% {
      opacity: 1;
    }
    100% {
      transform: rotate(-5deg) translateX(-185px);
      opacity: 1;
    }
  }

  .ovni-effect {
    animation: especialEffect 3s linear !important;
    animation-delay: 0s;
  }

  @keyframes especialEffect {
    0% {
      transform: rotate(0deg) translateX(-150px) translateY(1rem);
      opacity: 1;
    }
    60% {
      transform: rotate(10deg) translateX(-250px) translateY(22rem);
      opacity: 1;
    }
    100% {
      transform: rotate(15deg) translateX(-700px) translateY(15rem);
      opacity: 1;
    }
  }

  .ovni {
    top: -1rem;
    right: 2rem;
  }

  .ovni img {
    height: 4rem;
  }

  .arrow {
    left: 24rem;
    top: 5rem;
  }

  .arrow iframe {
    border: none;
    height: 2rem;
  }

  .card {
    margin: 2rem;
    margin-top: 3rem;
    padding: 1.5rem;
    font-size: 0.78rem;
  }
}
