// primary colors
$white-primary: #fbf5f5;
$blue-primary: #020125;

// buttons color
$yellow-normal: #deb241;
$blue-normal: #3D4ABE;
$red-normal: #BF3333;
$green-normal: #48AF37;

// box-color
$gray-normal: #33324D80;

// moon shadow
$shadow-25: #D9D9D925;
$shadow-15: #D9D9D915;